body {
	font-size: 1em;
	line-height: 1.6;
	color: #111111;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
	overflow-x: hidden;
}

main {
	overflow: hidden;
}

@media screen and (max-width: 768px) {
	main {
		margin-top: 100px;
	}
}

hr {
	border: solid #111;
	border-width: 1px 0 0;
	clear: both;
	margin: 100px auto;
	height: 0;
	width: 100%;
	opacity: 0.1;
}

@media screen and (max-width: 600px) {
	hr {
		margin: 30px auto;
	}
}

hr.just-line {
	margin: 0 auto;
}

section {
	padding: 0 15px;
	margin-bottom: 60px;
}

@media screen and (max-width: 767px) {
	section {
		margin-bottom: 40px;
		padding: 0 20px;
	}
}

p {
	margin: 0 0 30px;
	font-size: 1.5em;
	text-align: justify;
	hyphens: auto;
}

@media screen and (max-width: 767px) {
	p {
		font-size: 1.1em;
		line-height: 1.5;
	}
}

p.no-space {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	font-family: "Playfair Display", serif;
	margin: 0;
}

h1 {
	font-size: 2.2em;
	margin-bottom: 20px;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.6em;
}

h4 {
	font-size: 1.4em;
}

h5 {
	font-size: 1.2em;
}

h6 {
	font-size: 1em;
}

a {
	color: #111111;
	text-decoration: none;
	transition: color 300ms;
}

a:hover, a:focus {
	color: #5e5e5e;
}

.classic {
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0.05em;
}

img {
	max-width: 100%;
	margin-bottom: 20px;
}

li {
	font-size: 1.5em;
}

@media screen and (max-width: 767px) {
	li {
		font-size: 1.1em;
		line-height: 1.5;
	}
}

.container {
	margin: 0 auto;
	max-width: 1100px;
}

.center {
	text-align: center;
}

div.intro {
	margin-top: 100px;
	margin-bottom: 100px;
}

@media screen and (max-width: 767px) {
	div.intro div {
		margin-left: 20px;
		padding: 0 50px;
	}
}

div.images {
	margin-top: 30px;
	margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
	div.images {
		margin: 0;
	}
}

.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.facebook {
	cursor: pointer;
	height: 24px;
	width: 24px;
	transition: fill 0.3s ease-in-out;
}

.facebook:hover {
	fill: #5e5e5e;
}

.circle-back {
	width: 100%;
	top: auto;
	left: 0;
	right: 0;
	bottom: 100;
	max-width: 100%;
	text-align: center;
	position: relative;
	height: 100%;
	transform: translate3d(0, 0, 0);
	margin: 280px 0;
}

.links {
	max-width: 300px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media screen and (max-width: 667px) {
	.links {
		max-width: 230px;
	}
}

a.apple {
	color: #0070c9;
	font-size: inherit;
	font-weight: 400;
	outline: none;
	border: none;
}

a.apple:hover {
	text-decoration: underline;
}

#further {
	background-color: white;
	padding: 80px 0;
}

#further .apple {
	font-size: 1.5em;
}

@media screen and (max-width: 667px) {
	#further .apple {
		font-size: 1.35em;
	}
}