.covid-container {
  font-family: sans-serif;
  line-height: 1.2;
  padding: 0 28px;
  max-width: 960px;
  margin: 0 auto 80px;
  position: relative;
}

.covid-container nav ul {
  list-style-type: none;
  padding: 0;
  margin: 32px 0;
}

.covid-container nav ul a {
  text-decoration: none;
  color: #ffffff;
}

.covid-container nav ul li {
  border: 1px solid #000000;
  font-weight: bolder;
  color: #000000;
  padding: 15px 20px;
  transition: all 0.1s ease-in-out;
  margin-bottom: 16px;
}

.covid-container nav ul li:hover {
  background-color: #111111;
  color: #ffffff;
}

.covid-container hr {
  border: 0.5px solid rgba(0, 0, 0, 0.15);
  display: block;
  margin: 0 auto;
}

.covid-container .faq {
  margin-bottom: 56px;
}

.covid-container .faq h1 {
  margin-top: 10px;
  display: block;
  text-align: center;
  font-size: 20px;
}

.covid-container .box {
  text-align: center;
  border-radius: 14px;
  font-weight: bold;
  padding: 10px;
  min-height: 158px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
}

.covid-container .box img {
  filter: saturate(75%);
}

.covid-container .box.yellow {
  background-color: #fffacc;
}

.covid-container .box.pink {
  background-color: #ffccfa;
}

.covid-container .box.red {
  background-color: #ffbbbb;
}

.covid-container .box.green {
  background-color: #c1fdac;
}

.covid-container .row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 24px;
}

.covid-container .row .col {
  width: 50%;
}

.covid-container .faq .row .col:first-child {
  margin-right: 24px;
  margin-bottom: 24px;
}

.covid-container .row.collapsable {
  display: block;
}

.covid-container .row.collapsable .col {
  width: 100%;
}

.covid-container .faq a {
  text-decoration: none;
  color: #000;
}

.covid-container .question {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.covid-container .question img {
  width: 16%;
}

.covid-container .question p {
  font-size: 14px;
  padding: 0 32px;
}

@media screen and (min-width: 860px) {
  .covid-container nav {
    padding: 36px 0;
  }

  .covid-container nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .covid-container .faq h1 {
    font-size: 32px;
    margin: 48px 0;
  }

  .covid-container .box {
    border-radius: 20px;
    padding: 25px;
    min-height: 220px;
    font-size: 28px;
  }

  .covid-container .row.collapsable {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 24px;
  }

  .covid-container .row.collapsable .col .border-box {
    min-height: 153px;
  }

  .covid-container .faq .row .col:first-child {
    margin-bottom: 0;
  }

  .covid-container .question p {
    font-size: 16px;
    padding: 0 12px;
  }

  .covid-container .question img {
    width: 30%;
  }
}

/* iPad */
@media screen and (min-width: 768px) and (max-width: 860px) {
  .covid-container .question img {
    width: 10%;
  }
}
