@charset "UTF-8";

#pods hr {
  margin: 50px 0;
}

#pods p.massive {
  margin: 50px 100px;
  line-height: 1.4;
  font-family: "Playfair Display", serif;
  font-size: 2vw;
  text-align: center;
  font-weight: 700;
  color: #EE2E45;
  text-align: center !important;
  hyphens: none !important;
}

@media screen and (max-width: 460px) {
  #pods p.massive {
    font-size: 6vw;
    margin: 25px 0;
  }
}

#pods nav {
  max-width: 640px;
  margin: 0 auto;
}

#pods nav ul {
  list-style-type: none;
  padding: 0;
}

#pods nav ul a {
  text-decoration: none;
  color: #ffffff;
}

#pods nav ul li {
  border: 1px solid #000000;
  font-weight: bolder;
  color: #000000;
  padding: 10px 15px;
  transition: all 0.1s ease-in-out;
  margin-bottom: 16px;
  font-size: 18px;
}

#pods nav ul li:hover {
  background-color: #111111;
  color: #ffffff;
}

@media screen and (min-width: 860px) {
  #pods nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (min-width: 860px) {
  #pods nav {
    padding: 36px 0;
  }
}

#pods .selligion {
  max-width: 400px;
  margin: 0 auto;
}

#pods details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

#pods details p, #pods details li {
  font-size: 1.25em;
}

@media screen and (max-width: 767px) {
  #pods details p, #pods details li {
    font-size: 1.1em;
    line-height: 1.5;
  }
}

#pods details > summary {
  list-style-type: none;
}

#pods details > summary::-webkit-details-marker {
  display: none;
}

#pods details > summary::before {
  content: '➡️';
  margin-right: 5px;
}

#pods details[open] {
  padding: 1em 1.25em;
}

#pods details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

#pods details[open] > summary::before {
  content: '⬇️';
  margin-right: 5px;
}

#pods summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

#pods .entrepreneurs {
  display: block;
}

#pods .entrepreneurs .entrepreneur {
  margin-bottom: 20px;
}

@media screen and (min-width: 860px) {
  #pods .entrepreneurs .entrepreneur {
    padding: 0 20px;
    width: 50%;
  }

  #pods .entrepreneurs .entrepreneur details p {
    font-size: 1.25em;
  }
}

@media screen and (min-width: 860px) {
  #pods .entrepreneurs {
    display: flex;
    justify-content: space-between;
  }
}

#pods #learnings details {
  margin: 20px 0;
}

#pods .metric {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

#pods .metric img {
  width: 25%;
  margin: 0;
  margin-right: 20px;
}

#pods .metric p {
  margin: 0;
  width: 75%;
}